 /* Asterix wildcard selector to override default styles added by the browser */
 * {
    padding: 0%; /* this overrides the browser defaults */
    margin: 0%; /* this overrides the browser defaults */
    box-sizing: border-box; /* default is that the element's border and padding are added to the element's specified width/height. 
    "box-sizing: border-box;" allows padding and border to be included in the width and height, 
    i.e. when applying height and width to an element later, it will be applied to an entire elements including the border */
 }

 /* General styles */
 body {
    min-height: 100vh; 
    /* 100vh represents the full height of the viewport,
    regardless of the content on the page. When you use 100vh for an element's height, it will take up the entire vertical height of the user' s screen,
    and it won't be affected by the content or other elements on the page. 100% is a relative unit of measurement. */
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: #3a3a3a;
 }

/* Header */
header {
    background-color: lightcoral;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}